body {
    width: 1060px;
    margin: 0 auto;

}
.wrapper {
    background-color: whitesmoke;
}
.demo {
    color: white;
    font-family: sans-serif; 
    font-size: 10px; 
    text-decoration: none;
    line-height: 20px;
}

.top-bar {
     position: relative; 
    /* width: 1060px; */
    height: 20px;
    padding: 2px 10px;
    background-color: #3B0A4A;
    /* right: 50px; */

}

.top-bar a {
    
    color: white;
    font-family: sans-serif; 
    font-size: 10px; 
    text-decoration: none;
    right: 100px;
}

.top-bar ul{
    position: absolute;
    list-style: none;
    /* float: right; */
    /* margin-top: -18px; */
    right: 105px;
    line-height: 20px;   
}

.top-bar li{
    display: inline;
    
}

header {
    
    width: 960px ;

}
header nav a {
    
    color: white;
    font-family: sans-serif; 
    font-size: 15px; 
    text-decoration: none;
    background:  #3B0A4A;
    border-radius: 10%;
    padding: 8px 10px;
    margin: 2px;
   
}
.home {
    background-color: orange;
}

a:hover {
    background-color: orangered;
}

header nav {
    float: right;
    margin-top: 40px;
}

header ul {
    list-style: none;
    text-align: center;
}
header li {
    display: inline;
}
.btn {
    background-color: orangered; /* Blue background */
      border: none; /* Remove borders */
      color: white; /* White text */
      padding: 12px 16px; /* Some padding */
      font-size: 16px; /* Set a font size */
      cursor: pointer; /* Mouse pointer on hover */
      border-radius: 50%;
    }

h2 {
    font-size: 50px; 
    line-height: 1.4; 
    color: rgb(22, 2, 39) ;
}

main {
    position: relative;
    width: 900px; 
    height: 400px; 
    margin: 10px;
    padding: 10px;
}
.smart {
    position: absolute;
    width: 300px;
}

.strong {
    position: absolute;
    left: 300px;
    width: 300px;
}
.stable {
    position: absolute;
    /* left: 600px; */
    width: 300px;
    right: 0px;
}

main a {
    color: white;
    font-family: sans-serif; 
    font-size: 15px; 
    text-decoration: none;
    background:  #3B0A4A;
    border-radius: 20%;
    padding: 8px 10px;
}
footer {
    position: relative;
    width: 960px; 
    height: 800px;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(22, 2, 39)  ;
    
}
h3 {
    font-family: 'Kreon', serif;
    font-size: 25px; 
    line-height: 1.4; 
      color: white;
  }
  
  h4 {
      font-family: 'Kreon', serif;
      font-size: 15px; 
      line-height: 1.4; 
        color: white;
  }
  .services {
    position: absolute;
    leftt: 0px;
    width: 300px; 
  height: 100px; 
  margin: 10px;
  padding: 10px;
  color: white;
  
}

.services li {

}

.opp {
    position: absolute;
    left: 300px;
    width: 300px; 
  height: 100px; 
  margin: 10px;
  padding: 10px;
  color: rgba(76, 79, 109, 0.986);
}

.news {
    position: absolute;
    right: 0px;
    width: 300px; 
  height: 100px; 
  margin: 10px;
  padding: 10px;
  color: rgba(76, 79, 109, 0.986);
}